.host { 
  width: 300px;
  margin: 0 7px;
  display: inline-block;
  h2 {
    font-size: 1.5em;
  }
  .content {
    border: 1px solid black;
    .day {
      text-align: left;
      h3 {
        padding: 0 1.5em;
      }
    }
  }
}