/* You can add global styles to this file, and also import other style files */
app-button.red > .button {
  background-color: #ea4d4d;
  box-shadow: 0 2px 2px #fd8282;
  &:active {
    background-color: #de4949;
    box-shadow: 0 2px 0 #c76b6b;
  }
}

app-button.green > .button {
  background-color: #39d61a;
  box-shadow: 0 2px 2px #76b16a;
  &:active {
    background-color: #5cce46;
    box-shadow: 0 2px 0 #67b557;
  }
}